.box-chat {
    height: calc(100vh - 163px - 5rem);
    overflow-y: scroll;
}

.bottom-bar {
    height: 3.5rem;
    overflow: hidden;
}

.bottom-bar .column {
    text-align: center;
    vertical-align: middle;
}

.msg_container {
    width: 100%;
}

.profile-btn {
    background-color: #750ac5;
    color: white;
    border-radius: 50%;
    display: inline-block;
}

.title {
    display: block;
    font-size: 28px;
}

.my-name {
    display: inline-block;
    padding: 5px 0 0px 15px;
    font-size: 18px;
    font-weight: bold;
}

.text-gray {
    color: #aaa;
}

.text-gray:hover {
    text-decoration: none;
    color: gray;
}
